body {
  font-family: arial;
  padding: 0;
  margin: 0; }

.container {
  max-width: 960px;
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 100%;
      width: 100%; } }

footer {
  height: 50px;
  background: #212121; }

.header {
  overflow: hidden;
  height: 600px;
  background-size: cover;
  margin: 0; }
  .header .section-logo {
    width: 100%;
    float: left;
    height: 50px;
    background: #02918d;
    line-height: 3.429; }
    .header .section-logo img {
      padding: 10px; }
    .header .section-logo .section-menu {
      height: 50px;
      color: #fff;
      float: right;
      line-height: 3.429; }
      .header .section-logo .section-menu li {
        display: inline; }
  .header .section-login {
    width: 50%;
    float: right;
    height: 50px;
    background: transparent;
    text-align: right; }

.hero1 {
  background: url("../imagenes/hero.jpg") no-repeat;
  height: 100%;
  width: 100%;
  border: 1px;
  background-size: cover; }

.about-me {
  width: 80%;
  color: #02918d;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  padding: 50px; }
  .about-me .internal-1 {
    width: 80%;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px; }

.row {
  padding: 80px;
  color: #000;
  font-size: 15px; }
  .row .icon-focus {
    width: 35px;
    height: 45px;
    background: url("../imagenes/icons.png");
    background-position: 0 10px; }
  .row .icon-pencil {
    width: 35px;
    height: 45px;
    background: url("../imagenes/icons.png");
    background-position: -38px 10px; }
  .row .icon-conf {
    width: 35px;
    height: 45px;
    background: url("../imagenes/icons.png");
    background-position: -84px 10px; }
  .row .icon-computer {
    width: 35px;
    height: 45px;
    background: url("../imagenes/icons.png");
    background-position: -128px 10px; }
  .row .icon-world {
    width: 35px;
    height: 45px;
    background: url("../imagenes/icons.png");
    background-position: -128px -39px; }
  .row img {
    padding: 0;
    width: 100%; }

.section2 {
  background: url("../imagenes/bg2.jpg") no-repeat;
  height: 100%;
  width: 100%;
  border: 1px;
  background-size: cover; }
  .section2 .col-md-6 .col-md-6 {
    padding: 0;
    margin: 0; }

.services {
  color: #02918d;
  display: block;
  margin: 0 auto;
  font-size: 30px; }

.text-box1 {
  font-size: 15px; }

.img-gallery .col-md-3 {
  padding: 0;
  margin: 0; }
.img-gallery .row {
  padding: 0;
  margin: 0; }

.footer-1 {
  background: #000; }

.form-custom2 {
  background: #000; }

.section1 {
  width: 100%;
  background: yellow;
  margin: 0;
  padding: 40 0;
  background: url("../imagenes/section1.png") no-repeat; }
  .section1 .internal {
    width: 80%;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto; }
    .section1 .internal h1 {
      text-transform: uppercase; }
    .section1 .internal button {
      background: red;
      color: #fff;
      border: 0;
      padding: 8px 20px;
      border-radius: 5px; }
      .section1 .internal button span {
        margin-left: 10px; }

.carrusel .internal-2 {
  overflow: hidden;
  display: block;
  width: 80%;
  background: #ffff00;
  margin: 0 auto; }
  .carrusel .internal-2 .item {
    float: left;
    width: 25%;
    overflow: hidden; }
    .carrusel .internal-2 .item img {
      margin: 20px 5px;
      width: 100%;
      display: block; }

.img-header {
  background: #666; }
  .img-header .internal-i1 {
    width: 100%;
    color: #fff;
    padding: 100px;
    background: url("../imagenes/hero.jpg") no-repeat; }

.polar {
  background: #666; }
  .polar .internal-3 {
    width: 40%;
    color: #fff;
    padding: 50px; }
    .polar .internal-3 h1 {
      text-transform: uppercase; }
    .polar .internal-3 a {
      color: #fff; }

/* variables para los screens*/
.columnas {
  overflow: hidden; }

.full {
  width: 100%;
  overflow: hidden;
  background: #A9BCF5;
  margin: 0;
  padding: 0; }

.col-12 {
  width: 98%;
  margin: 20px 1%;
  min-height: 40px; }

.col-1 {
  width: 6.33%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-3 {
  width: 22.93%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }
  @media screen and (max-width: 768px) {
    .col-3 {
      width: 47.86%; } }
  @media screen and (max-width: 420px) {
    .col-3 {
      width: 98%; } }

.col-4 {
  width: 31.33%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-6 {
  width: 47.83%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-7 {
  width: 54.63%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-8 {
  width: 64.66%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.clear {
  clear: both; }

/*ligthbox*/
/*colores de bg*/
input[type="text"] {
  border-radius: 3px;
  border: 1px solid #666; }

input[type="text"]:focus {
  border: 1px solid red;
  box-shadow: none;
  padding: 30px;
  background-size: 30px; }

/*colores de bg*/
.hero {
  background: url(../imagenes/hero3.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  height: 650px; }
  .hero .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }

.drive-teacher .profile .picture {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  border: 3px solid #666; }
  .drive-teacher .profile .picture img {
    width: 100%; }

/*# sourceMappingURL=app.css.map */
