/*ligthbox*/
@import "vars";

input[type="text"]{
  border-radius: 3px;
  border: 1px solid $grisOscuro;

}
input[type="text"]:focus{
  border: 1px solid $rojoActivo;
  box-shadow: none;
  padding:30px;
  background-size: 30px;
}