.header{
  overflow: hidden;
  height: 600px;
  background-size: cover;
  margin: 0;
  .section-logo{
    width: 100%;
    float: left;
    height: 50px;
    background: #02918d;
    line-height: 3.429;
    img{
        padding:10px;
    }
    .section-menu{

      height: 50px;
      color: #fff;
      float: right;
      line-height: 3.429;
      li{
        display:inline;
      }
    }
  }
  .section-login{
    width: 50%;
    float: right;
    height: 50px;
    background: transparent;
    text-align: right;
    .button-login{
      //
      &:hover{

      }
      &:active{

      }
    }
    .button-login:hover{

    }
    .button-login:active{

    }
  }

}


