.hero1{
  background: url("../imagenes/hero.jpg")no-repeat; 
  height: 100%; 
  width: 100%; 
  border: 1px ;
  background-size: cover;
}

.about-me{
    width: 80%;
    color: #02918d;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    padding: 50px;
    .internal-1{
      width: 80%;
      color: #000;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 20px;
      padding: 10px;
    }
}

.row{
  padding:80px;
  color: #000;
  font-size: 15px;
  .icon-focus{
    width: 35px;
    height: 45px;
    background:url("../imagenes/icons.png");
    background-position: 0 10px;
  }
  .icon-pencil{
    width: 35px;
    height: 45px;
    background:url("../imagenes/icons.png");
    background-position: -38px 10px;

  }
  .icon-conf{
    width: 35px;
    height: 45px;
    background:url("../imagenes/icons.png");
    background-position: -84px 10px;
  }
  .icon-computer{
    width: 35px;
    height: 45px;
    background:url("../imagenes/icons.png");
    background-position: -128px 10px;
  }
  .icon-world{
    width: 35px;
    height: 45px;
    background:url("../imagenes/icons.png");
    background-position: -128px -39px;;
  }
  img{
    padding:0;
    width: 100%;

  }
}

.section2{
  background: url("../imagenes/bg2.jpg")no-repeat; 
  height: 100%; 
  width: 100%; 
  border: 1px ;
  background-size: cover;
  .col-md-6{
    .col-md-6{
      padding: 0;
      margin:0;
    }
  }
}
.services{
  color: #02918d;
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

.text-box1{
  font-size: 15px;
}
.img-gallery{
  .col-md-3{
    padding: 0;
    margin:0; 
  }
  .row{
    padding:0;
    margin: 0;
  }
}
.footer-1{
  background:#000;
}
.form-custom2{
  background:#000;
}
.section1{
  width: 100%;
  background: yellow;
  margin: 0;
  padding: 40 0;
  background: url("../imagenes/section1.png") no-repeat;
  .internal{
    width: 80%;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    h1{
      text-transform: uppercase;
    }
    button{
      background: red;
      color: #fff;
      border: 0;
      padding: 8px 20px;
      border-radius: 5px;
      span{
        margin-left: 10px;
      }
    }
  }
}

.carrusel{
  .internal-2{
    overflow: hidden;
    display: block;
    width: 80%;
    background: #ffff00;
    margin: 0 auto;
    .item{
      float:left;
      width: 25%;
      overflow: hidden;
      img{
        margin: 20px 5px;
        width: 100%;
        display: block;
      }
    }
  }
}

.img-header{
  background: #666;
  .internal-i1{
    width: 100%;
    color:#fff;
    padding: 100px;
    background: url("../imagenes/hero.jpg") no-repeat;
  }
}

.polar{
  background: #666;
  .internal-3{
    width: 40%;
    color:#fff;
    padding: 50px;
    h3{}
    h1{
      text-transform: uppercase;
    }
    a{
      color: #fff;
    }
  }
}
