<div class="container-fluid row-4">

  <div class="row">

    <div class="col-sm-6 bg-4">
    <div class="row">

      <h2 class="col-4-0">SERVICES</h2>
      <p class="col-4-0"> ~~~~~~~ :: ~~~~~~~</p>
      <p class="col-4-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>

      <div class="row col-4">

        <div class="col-sm-6">
          <div class="img-position icon-4-1 "></div>
          <h3 class="center-block">Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>


        <div class="col-sm-6">
          <div class="img-position icon-4-2 "></div>
          <h3 class="center-block">Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>

      </div>
      <div class="row col-4-2">

        <div class="col-sm-6">
          <div class="img-position icon-4-3 "></div>
          <h3 class="center-block">Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>


        <div class="col-sm-6">
          <div class="img-position icon-4-4 "></div>
          <h3 class="center-block">Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>

      </div>

    </div>

    <div class="col-sm-6">

    </div>


  </div>
</div>