body {
  font-family: arial;
  padding: 0;
  margin: 0; }

.container {
  max-width: 960px;
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 100%;
      width: 100%; } }

footer {
  height: 50px;
  background: #212121; }

/* variables para los screens*/
.columnas {
  overflow: hidden; }

.full {
  width: 100%;
  overflow: hidden;
  background: #A9BCF5;
  margin: 0;
  padding: 0; }

.col-12 {
  width: 98%;
  margin: 20px 1%;
  min-height: 40px; }

.col-1 {
  width: 6.33%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-3 {
  width: 22.93%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }
  @media screen and (max-width: 768px) {
    .col-3 {
      width: 47.86%; } }
  @media screen and (max-width: 420px) {
    .col-3 {
      width: 98%; } }

.col-4 {
  width: 31.33%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-6 {
  width: 47.83%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-7 {
  width: 54.63%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.col-8 {
  width: 64.66%;
  margin: 5px 1%;
  min-height: 40px;
  float: left; }

.clear {
  clear: both; }

/*ligthbox*/
/*colores de bg*/
input[type="text"] {
  border-radius: 3px;
  border: 1px solid #666; }

input[type="text"]:focus {
  border: 1px solid red;
  box-shadow: none;
  padding: 30px;
  background-size: 30px; }

/*colores de bg*/
.hero {
  background: url(../imagenes/hero3.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  height: 650px; }
  .hero .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }

.drive-teacher .profile .picture {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  border: 3px solid #666; }
  .drive-teacher .profile .picture img {
    width: 100%; }

/*# sourceMappingURL=app.css.map */
